body {
	background: black;
	font-family: "Arial";
}

.header, .footer {
  background-color: #222;
  color: white;
  padding: 15px;
  text-align: center;
}

.header {
	margin-bottom: 8px;
	font-size: 16px;
}

.footer {
	margin-top: 8px;
	clear: both;
}

.container {
	margin: auto;
	display: table;
}

.item {
	margin: 10px;
	width: 300px;
	float: left;
}

.item img {
	width: 300px;
	height: 175px;
}

.item ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.item li {
  margin-bottom: 8px;
  padding: 8px;
  background-color: red;
  color: white;
}

.item li:hover {
  background-color: gray;
}
